@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Zilla+Slab:wght@700&display=swap");

body {
  font-family: "Zilla Slab", serif;
  background-image: url(/Foto-Xero/img/tloIphone3.svg);
  background-repeat: no-repeat;
  background-position: 0 -1em;
  background-attachment: fixed;
}

header {
  display: flex;
  height: 7rem;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.logoB {
  width: 9rem;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  list-style: none;
  margin: 0;
}

.hamburgier {
  width: 70%;
  gap: 10px;
}

.dropMenu {
  position: absolute;
  /* right: -200px; */
  top: 10px;
}

.ukryty {
  position: relative;
  /* display: none; */
}

li {
  width: 7em;
  padding-top: 5px;
  border: 5px;
  border-color: black;
}
